.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.image-flex-container {
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
