.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.info-flex-container {
  width: 100%;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 549px) {
  .flex-align-left--mobile {
      align-items: flex-start;
  }
}
