
body {
  font-size: 17px;
  font-family:"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

.sidebar {
  padding: 5px 15px;
  min-width: 120px;
}

.fixed-container {
  position: fixed;
}

.link-container {
  padding: 10px 0;
}

.profile-picture--width {
  width: 50%;
}

.category {
  font-weight: 700;
}

.category:hover {
  text-decoration: none;
  cursor: default;
}

.subcategory {
  margin-left: 3px;
}

.social-media-link {
  font-size: 15px;
}

.info-paragraph {
  width: 50%;
}

.info-paragraph a {
  text-decoration: underline;
}

.info-paragraph a:hover {
  text-decoration: none;
}

.image-container {
  width: 60%;
  margin: 0 auto;
}

.image {
  width: 100%;
  box-shadow: 1px 1px 2px #9A9999;
}


@media screen and (min-width: 500px) and (max-width: 850px) {
  .image-container {
    width: 90%;
  }

  .profile-picture--width {
    width: 75%;
  }

  .info-paragraph {
    width: 75%;
  }
}
@media screen and (max-width: 549px) {
  .image-container {
    width: 98%
  }

  .profile-picture--width {
    width: 98%;
  }

  .info-paragraph {
    width: 90%;
  }

  .sidebar {
    min-width: 90px;
    padding: 0 5px;
    font-size: 15px;
  }

  .link-container {
    padding: 5px 0;
  }
}
