
body {
  font-size: 17px;
  font-family:"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: olivedrab;
}

a:hover {
  text-decoration: underline;
}

.sidebar {
  padding: 15px;
  min-width: 120px;
}

.fixed-container {
  position: fixed;
}

.link-container {
  padding: 10px 0;
}

.about {
  font-family: fantasy;
  padding: 5px;
}

.category {
  font-weight: 700;
}

.subcategory {
  margin-left: 3px;
}

.social-media-link {
  font-size: 15px;
}

.info-container {
}

.image {
  width: 49%;
}
