<div class="image-container">
  <img class="image" src="/img/oslo/osl_1.jpg"/>
</div>
<div class="image-container">
  <img class="image" src="/img/oslo/osl_2.jpg"/>
</div>
<div class="image-container">
  <img class="image" src="/img/oslo/osl_3.jpg"/>
</div>
<div class="image-container">
  <img class="image" src="/img/oslo/osl_4.jpg"/>
</div>
<div class="image-container">
  <img class="image" src="/img/oslo/osl_5.jpg"/>
</div><div class="image-container">
  <img class="image" src="/img/oslo/osl_6.jpg"/>
</div>
<div class="image-container">
  <img class="image" src="/img/oslo/osl_7.jpg"/>
</div>
<div class="image-container">
  <img class="image" src="/img/oslo/osl_8.jpg"/>
</div>
<div class="image-container">
  <img class="image" src="/img/oslo/osl_9.jpg"/>
</div>
