<div class="flex flex-column sidebar">
  <a class="sidebar__about" href="/about">About <a>
  <a class="sidebar__category" href="/people">People</a>
  <a class="sidebar__subcategory" href="/people/portraits">Portraits</a>
  <a class="sidebar__subcategory" href="/people/forawhile">For a While</a>

  <a class="sidebar__category">Places</a>
  <a class="sidebar__subcategory" href="/places/edinburgh">Edinburgh</a>
  <a class="sidebar__subcategory" href="/places/nature">Nature</a>
  <a class="sidebar__subcategory" href="/places/architecture">Architecture</a>

  <a class="sidebar__category">Objects</a>
  <a class="sidebar__subcategory" href="/flowers">Flowers</a>
  <a class="sidebar__subcategory" href="/instruments">Instruments</a>
</div>
