<div class="sidebar">
  <div class="flex flex-column fixed-container">
    <a href="/about">About <a>

    <div class="flex flex-column link-container">
      <a class="category">People</a>
      <a class="subcategory" href="/people/portraits_bw">B & W</a>
      <a class="subcategory" href="/people/portraits_color">Color</a>
      <a class="subcategory" href="/people/forawhile">For a While</a>
    </div>

    <div class="flex flex-column link-container">
      <a class="category">Places</a>
      <a class="subcategory" href="/places/oslo">Oslo</a>
      <a class="subcategory" href="/places/edinburgh">Edinburgh</a>
      <a class="subcategory" href="/places/paris">Paris</a>
      <a class="subcategory" href="/places/italy">Italy</a>
      <a class="subcategory" href="/places/architecture">Architecture</a>
      <a class="subcategory" href="/places/nature">Nature</a>
      <a class="subcategory" href="/places/landscape">Landscape</a>
    </div>

    <div class="flex flex-column link-container">
      <a class="category">Objects</a>
      <a class="subcategory" href="/objects/flowers">Flowers</a>
      <a class="subcategory" href="/objects/food">Food</a>

      <!-- <a class="subcategory" href="/objects/instruments">Instruments</a> -->
    </div>

    <div class="flex flex-column link-container">
      <a class="social-media-link"
         target="_blank"
         href="https://www.facebook.com/Fotograf-Marte-Johannessen-181141136205">
         facebook </a>
      <a class="social-media-link"
         target="_blank"
         href="https://www.instagram.com/homarte/">
         instagram </a>
      <a class="social-media-link"
         target="_blank"
         href="https://society6.com/homarte">
         webshop </a>
    </div>
  </div>
</div>
