<div class="sidebar">
  <div class="flex flex-column fixed-container">
    <a class="about" href="/about">About <a>

    <div class="flex flex-column link-container">
      <a class="category">People</a>
      <a class="subcategory" href="/people/portraits_bw">B & W</a>
      <a class="subcategory" href="/people/portraits_color">Color</a>
    </div>

    <div class="flex flex-column link-container">
      <a class="category">Music</a>
      <a class="subcategory" href="/music/forawhile">For a While</a>
    </div>
    <div class="flex flex-column link-container">
      <a class="category">Places</a>
      <a class="subcategory" href="/places/edinburgh">Edinburgh</a>
      <a class="subcategory" href="/places/nature">Nature</a>
      <a class="subcategory" href="/places/architecture">Architecture</a>
    </div>

    <div class="flex flex-column link-container">
      <a class="category">Objects</a>
      <a class="subcategory" href="/flowers">Flowers</a>
      <a class="subcategory" href="/instruments">Instruments</a>
    </div>

    <div class="flex flex-column link-container">
      <a class="social-media-link"
         target="_blank"
         href="https://www.facebook.com/Fotograf-Marte-Johannessen-181141136205">
         facebook </a>
      <a class="social-media-link"
         target="_blank"
         href="https://www.instagram.com/homarte/">
         instagram </a>
      <a class="social-media-link"
         target="_blank"
         href="https://society6.com/homarte">
         society6 </a>
    </div>
  </div>
</div>
