<div class="image-container">
  <img class="image" src="/img/flowers/s_1.jpg"/>
</div>
<div class="image-container">
  <img class="image" src="/img/flowers/s_2.jpg"/>
</div>
<div class="image-container">
  <img class="image" src="/img/flowers/s_3.jpg"/>
</div>
<div class="image-container">
  <img class="image" src="/img/flowers/s_4.jpg"/>
</div>
<div class="image-container">
  <img class="image" src="/img/flowers/s_5.jpg"/>
</div><div class="image-container">
  <img class="image" src="/img/flowers/s_6.jpg"/>
</div>
