<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="og:title" content="Photographer Marte Johannessen Dæhlen" />
    <meta property="og:description" content="This is the site for photographer Marte Johannessen Dæhlen. Here you can browse some of her work." />
    <meta property="og:site_name" content="MJD Photo" />
    <meta property="og:URL" content="http://www.marte.photo" />
    <meta property="og:image" content="http://www.marte.photo/img/flowers/f_1.jpg" />

    <title>MJD Photo</title>

    <!-- Styles -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/flexbox.css">

  </head>
  <body>
    <div class="flex flex-row">
      {% include sidebar.html %}
      {{ content }}
    <div>
  </body>
</html>
